<%- include('includes/head.ejs')%>  
<link rel="stylesheet" href="/css/404.css">
</head>
<body></body>
    <%- include('includes/navigation.ejs') %>
<h1 > <%= pageTitle %></h1>
    <img src="/images/404error.gif" >
<%- include('includes/end.ejs') %>
