<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Not Found</title>
</head>
<style>
    h1 {
        color: #3a285c;
        font-weight: normal;
        font-size: 50px;
        padding:3px 3px 3px 6px;
        border-left:3px solid #ebd9b8;
        background:#f1f1c4;
        display:inline-block; 
        position: absolute;
        left: 40%;
    }
    img {
        position: absolute;
        left: 37%;
        top: 25%;
        height: "50%";
        width: "50%";
    }
</style>
<body>
    <h1 > Page not found</h1>
    <img src="/images/404error.gif" >
</body>
</html>