<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"> Shop </a></li>
            <li><a href="admin/add-product"> Add to cart </a></li>
        </ul>
    </nav>
    <main>
        <h1> Products </h1>
        <p> List of all products.....</p>
    </main>
</body>
</html>