
h1 {
    color: #3a285c;
    font-weight: normal;
    font-size: 50px;
    padding:3px 3px 3px 6px;
    border-left:3px solid #ebd9b8;
    background:#f1f1c4;
    display:inline-block; 
    position: absolute;
    left: 40%;
}
img {
    position: absolute;
    left: 38%;
    top: 25%;
    padding-top: 15px;
    height: "50%";
    width: "50%";
}
